@import url('https://fonts.googleapis.com/css?family=Average|Cinzel+Decorative|Droid+Sans+Mono');

html {
  background: #F9F9F9;
  font-family: 'Average', serif;
  font-size: 1.2em;
  height: 100%;
  color: #444;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95%;
  margin: 0;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 860px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.title {
  /* background: #F20056; */
  background: #f50057;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 6em;
  margin: 0;
}

.help-text {
  text-align: left;
  font-size: 0.9em;
  color: #F5F5F5;
  background: #f50057;
  padding: 0 0.5em;
  padding-bottom: 0.5em;
}

.help-text p {
  margin: 0;
}

.help-text a {
  color: #F5F5F5;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel Decorative', cursive;
}

h1 {
  color: #F5F5F5;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

footer {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.3em 0.3em 0 0;
}

input[type="text"] {
  font-family: 'Average', serif;
  font-size: 1em;
}
