.episodes {
  display: flex;
  flex-direction: column;
}

.episodesControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.5em;
  height: 1.5em;
  font-size: 1.2em;
  padding: 1em 0;
  /* background: #f0d1dc; */
  background: #ffe5e5;
  border-radius: 0 0 0.3em 0.3em;
}

.episodesControls input {
  width: 40%;
}

.episodesControl {
  padding: 0.2em;
  cursor: pointer;
}

.episodesControl:hover {
  background: #fff5f5;
}

.episode {
  color: #444;
}

.episode h3 {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-size: 1.6em;
  padding: 0.1em;
}

.episode h3:hover {
  background: #fff5f5;
}

.momentsIndicator {
  margin-left: 0.5em;
}

.moments {
  list-style: none;
  padding: 0;
}

.moment:not(:last-child) {
  margin-bottom: 0.3em;
}

.momentText {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  padding: 0.1em;
}

.momentText:hover {
  background: #fff5f5;
}

.momentTimestamp {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.9em;
  margin: 0 15px;
}

.hidden {
  display: none;
}

.searchHidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

