.episodes {
  display: flex;
  flex-direction: column;
}

.episodesControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1.5em;
  height: 1.5em;
  font-size: 1.2em;
}

.episodesControls input {
  width: 15em;
}

.episodesControl {
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.episode {
  color: steelblue;
}

.episode h3 {
  cursor: pointer;
  display: inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1.6em;
}

.momentsIndicator {
  margin-left: 0.5em;
}

.moments {
  list-style: none;
  padding: 0;
}

.moment {
  margin-top: 0.05em;
  margin-bottom: 0.05em;
}

.momentText {
  cursor: pointer;
  display: inline;
}

.momentTimestamp {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.9em;
  margin: 0 15px;
}

.hidden {
  display: none;
}

.searchHidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

